.about-page {
  height: 100%;
  width: 100%;
}

.about-text-box {
  background-color: rgba(60, 60, 60, 0.6);
  position: relative;
  height: calc(90% - 20px);
  width: calc(90vw - 20px);
  left: 5%;
  top: 5%;
  padding: 20px;
  overflow: auto;
}

.about-text-header{
    /* text-align: center; */
    font-size: 50px;
    padding-bottom: 20px;
    display: flex;
}

.about-text-content{
    /* padding-bottom: 20px; */
    font-size: 30px;
}

.cv-button{
    font-size: 30px;
}

.cv-button:hover{
    color: black;
}

@media only screen and (max-width: 1350px) {
  .about-text-content{
    font-size: 20px;
  }

  .about-text-header{
    font-size: 30px;
  }
}
