#content {
    padding-top: 48px;
    background-color: black;
}

.section-headers {
    color: rgb(74, 174, 199);
    text-decoration: underline rgb(68, 171, 197) 2px;
    text-underline-offset: 10px;
}

.big-button button{
    background-color: rgb(74, 174, 199);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
}