#home-section {
    height: 100vh;
}

#home-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}

#home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    
}

#home-main{
    flex-direction: row;
    
    display: flex;
}

#home-info {
    display: flex;
    flex-direction: column;
    /* flex-grow: 3; */
    padding: 10px;
}

#home-info-text {
    color: white;
}

#home-info-text span {
    color: rgb(74, 174, 199);
}


#home-footer {
    color: white;
}